

 <div id="headerwrap">
    <div class="container">
        <div class="row">
         <!--    <div class="col-lg-12">
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/74461931?color=fec40e&title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
            </div> -->

           <div class="col-lg-8 col-lg-offset-2 himg">
                
                <img id="action-logo"src="{{ "/assets/img/action-logo.svg" | prepend: site.baseurl }}" class="img-responsive">
                <div  id="playbutton">
                  <a href="#"><h3><i class="fa fa-youtube-play fa-5x"></i></h3>
                  <p>Click to Play | Pause</p></a>
                </div>
            </div>
            
            <div id="player1" class="col-lg-12">
              <video id="vid" width="100%" height="auto" controls>
                <source src="http://www.eventformprocess.com/action_blog/video/About%20ACT!ON-HD.mp4" type="video/mp4">
              </video>
            </div>
        
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->